@{
    ViewData["Title"] = "Home Page";
}

<div class="content-column w-col w-col-9">
    <h1 class="white-bg-heading">Announcement Posts</h1>
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="53cc7567-513c-3103-cd72-dfb075f10bef" class="post-wrapper">
                    <div class="post-content">
                        <div class="w-row">
                            <div class="w-col w-col-4 w-col-medium-4">
                                <a href="/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano" style="background-image:url(&quot;https://assets.website-files.com/5e4b1a54e48aed65701ff226/5e4b1a54e48aeda1521ff24c_3f4eb74a.jpg&quot;)" class="blog-image w-inline-block"></a>
                            </div>
                            <div class="w-col w-col-8 w-col-medium-8">
                                <a href="/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano" class="blog-title-link w-inline-block">
                                    <h1 foo="bar" class="blog-title">Coffee sugar, chicory seasonal espresso barista americano</h1>
                                </a>
                                <div class="details-wrapper">
                                    <div class="post-info">Marketing</div>
                                </div>
                                <div class="post-summary-wrapper">
                                    <p class="post-summary">
                                        Arista Saucer, crema carajillo, bar, mocha medium, latte cappuccino and espresso acerbic to go. Coffee, irish foam turkish coffee blue mountain seasonal. Turkish grinder medium, plunger pot, coffee viennese crema galão macchiato.
                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="post-author">Posted by: John Doe | Created on: June 25, 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="white-bg-heading">Schedule Posts</h1>
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="53cc7567-513c-3103-cd72-dfb075f10bef" class="post-wrapper">
                    <div class="post-content">
                        <div class="w-row">
                            <div class="w-col w-col-4 w-col-medium-4">
                                <a href="/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano" style="background-image:url(&quot;https://assets.website-files.com/5e4b1a54e48aed65701ff226/5e4b1a54e48aeda1521ff24c_3f4eb74a.jpg&quot;)" class="blog-image w-inline-block"></a>
                            </div>
                            <div class="w-col w-col-8 w-col-medium-8">
                                <a href="/posts/coffee-sugar-chicory-seasonal-espresso-barista-americano" class="blog-title-link w-inline-block">
                                    <h1 foo="bar" class="blog-title">Coffee sugar, chicory seasonal espresso barista americano</h1>
                                </a>
                                <div class="details-wrapper">
                                    <div class="schedule-info">
                                        <div class="icon-wrapper">
                                            <img src="/Img/calendar.png" alt="" class="icon">
                                        </div>
                                        <div class="time-info">10:00 AM - 5:00 PM</div>
                                    </div>
                                    <div class="schedule-info">
                                        <div class="icon-wrapper">
                                            <img src="/Img/location.png" alt="" class="icon">
                                        </div>
                                        <div class="location-info">Your Location</div>
                                    </div>
                                </div>
                                <div class="post-summary-wrapper">
                                    <p class="post-summary">
                                        Arista Saucer, crema carajillo, bar, mocha medium, latte cappuccino and espresso acerbic to go. Coffee, irish foam turkish coffee blue mountain seasonal. Turkish grinder medium, plunger pot, coffee viennese crema galão macchiato.
                                    </p>

                                </div>

                            </div>

                        </div>
                        <div class="post-author">Posted by: John Doe | Created on: June 25, 2020</div>
                    </div>
                </div>
            </div>
            
</div>
